<section class="headtext">
    <h1>Edit your Information here</h1>
</section>
<section class="editContainer">
    <form method="post">
        <input
            type="text"
            name="first"
            placeholder="First Name"
            class="Input"
            id="editInputF"
            value="{{first}}"
        /><input
            type="text"
            name="last"
            placeholder="Last Name"
            class="Input"
            id="editInputL"
            value="{{last}}"
        /><input
            type="email"
            name="email"
            placeholder="Email"
            class="Input"
            id="editEmail"
            value="{{email}}"
        /><input
            type="password"
            name="pword"
            placeholder="Password"
            class="Input"
            id="editPword"
        />
        <br />
        <input
            type="number"
            name="age"
            placeholder="Age"
            class="Input"
            id="ageInput"
            value="{{age}}"
        /><input
            type="text"
            name="City"
            placeholder="City"
            class="Input"
            id="editCity"
            value="{{city}}"
        /><input
            type="url"
            name="Url"
            placeholder="https://example.com"
            class="Input"
            id="editUrl"
            value="{{home}}"
        />
        <br />
        <input type="submit" value="Submit" id="submit" />
    </form>

</section>